body {
    background-color: #35654d;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 4rem;
    color: goldenrod;
    margin-bottom: 1rem;
}

#message-el {
    margin-bottom: 0.5rem;
}

p {
    color: white;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

button {
    margin-top: 0.5rem;
    font-size: 16px;
    padding: 1em 2em;
    background-color: goldenrod;
    color: #016f32;
    font-weight: 700;
    border: 2px solid #016f32
}